.App {
  background-color: #494d4e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TopPanel {
  width: 100%;
  height: 50px;
  background-color: #2a2d32;
  border-bottom: 2px solid #131416;
  display: flex;
  flex-direction: row;
}

.Button {
  height: 30px;
  width: 70px;
  border-radius: 15px;
  margin-left: 10px;
}

.ToolBar {
  background-color: #d17f03;
  height: 600px;
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 20px;
  border: 3px solid #2a2d32;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ToolBarButton {
  margin-top: 10px;
  height: 50px;
  width: 100px;
  border-radius: 15px;
}

.Canvas {
  margin-top: 23px;
  margin-left: 30px;
  background-color: #fff;
  border-radius: 5px;
  border: 3px solid #2a2d32;
}

.Some {
  display: flex;
  flex-direction: row;
}
